*{ 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body{
    background: linear-gradient(to right, #233329, #41b683);
}

.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
}